<form action="/cadastrarPalavraChave" method="post">
    <div class="form-group">
        <label for="inputPalavra">Palavra</label>
        <input type="text" class="form-control" id="inputPalavra" name="palavra">
    </div>  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>