<form>
    <div class="form-group">
        <label for="inputPalavra">Palavra</label>
        <p class="form-control-plaintext" id="inputPalavra">{{palavraChave.palavra}}</p>
    </div>

    <a href="../layouts/principal.handlebars" class="btn btn-secondary">Voltar</a>
</form>
