<form>
    <div class="form-group">
        <label for="inputTitulo">Título</label>
        <p class="form-control-plaintext" id="inputTitulo">{{conhecimento.titulo}}</p>
    </div>

    <a href="../layouts/principal.handlebars" class="btn btn-secondary">Voltar</a>
</form>
