<body>  
    <div class="d-flex flex-column" style="min-height: 50vh;">

        <div class="container flex-grow-1">
            <div class="text-center">
                <h1 class="mb-4 text-primary fw-bold text-center">Portfólio Web Alunos</h1>
                <p class="lead mb-5">Projeto 1 disciplina Web Back-End - Curso Engenharia de Software</p>
            </div>
            
            <div class="text-left mb-5">
                <p>
                    <strong>Disponível em:</strong>
                    <a href="https://github.com/pamms2/PortfolioWebAlunos" target="_blank">
                        https://github.com/pamms2/PortfolioWebAlunos
                    </a>
                </p>
                <p>
                    <strong>Funcionalidades:</strong>
                    <ul class="mt-2">
                        <li>(texto)</li>
                    </ul>
                </p>
            </div>
        </div>

        <footer class="text-center mt-auto py-1">
            <hr>
            <p class="text-muted">
                Desenvolvido por: Josiane Mariane Batista e Pamela Berti Braz
            </p>
        </footer>
    </div>
</body>