<body>  
    <div class="d-flex flex-column" style="min-height: 10vh;">

        <div class="container flex-grow-1">
            <div class="text-center">
                <h1 class="text-primary fw-bold text-center mb-5">Portfólio Web Alunos</h1>
            </div>
            
            <div class="text-left">
                <p>
                    <strong>Disponível em:</strong>
                    <a href="https://github.com/pamms2/PortfolioWebAlunos" target="_blank">
                        https://github.com/pamms2/PortfolioWebAlunos
                    </a>
                </p>
                <p>
                    <strong>Funcionalidades:</strong>
                    <ul class="mt-2">
                        <li><strong>Usuários Externos:</strong>
                            <br>Podem listar os projetos, pesquisar e visualizá-los individualmente.
                            <br>Podem visualizar a proporção de alunos que tem cada conhecimento.
                        </li>
                    </ul>
                    <ul class="mt-2">
                        <li><strong>Usuários Alunos:</strong>
                            <br>Podem cadastrar, listar, visualizar e pesquisar projetos.
                            <br>Podem editar e excluir seus projetos. 
                            <br>Podem visualizar, listar e pesquisar conhecimentos.
                            <br>Podem vincular, editar e excluir nível de conhecimento em seu perfil.
                        </li>
                    </ul>
                    <ul class="mt-2">
                        <li><strong>Usuários Administradores:</strong>
                            <br>Podem cadastrar, listar, visualizar, pesquisar editar e excluir usuários.
                            <br>Podem cadastrar, listar, pesquisar, editar e excluir conhecimentos.
                            <br>Podem cadastrar, listar, pesquisar, editar e excluir palavras-chave.
                            <br>Podem listar os projetos, pesquisar e visualizá-los individualmente.
                            <br>Podem visualizar registros de logs de acesso.
                        </li>
                    </ul>
                </p>
            </div>
        </div>

        <footer class="text-center mt-auto py-1">
            <hr>
            <p class="text-muted">
                Desenvolvido por: Josiane Mariane Batista e Pamela Berti Braz
                <br>Projeto 1 disciplina Web Back-End - Curso Engenharia de Software
            </p>
        </footer>
    </div>
</body>