<form>
    <div class="form-group">
        <label for="inputNome">Nome</label>
        <p class="form-control-plaintext" id="inputNome">{{usuario.nome}}</p>
    </div>

    <div class="form-group">
        <label for="inputResumo">Resumo</label>
        <p class="form-control-plaintext" id="inputResumo">{{usuario.resumo}}</p>
    </div>

    <div class="form-group">
        <label for="inputLink">Link</label>
        <p class="form-control-plaintext" id="inputLink">{{usuario.link}}</p>
    </div>

    <div class="form-group">
        <label for="inputTipo">Tipo</label>
        <p class="form-control-plaintext" id="inputTipo">{{usuario.tipo}}</p>
    </div>  <!-- como colocar as palavras chaves -->

    <a href="../layouts/principal.handlebars" class="btn btn-secondary">Voltar</a>
</form>
