<form>
    <div class="form-group">
        <label for="inputNome">Nome</label>
        <p class="form-control-plaintext" id="inputNome">{{usuario.nome}}</p>
    </div>

    <div class="form-group">
        <label for="inputLogin">Login</label>
        <p class="form-control-plaintext" id="inputLogin">{{usuario.login}}</p>
    </div>

    <div class="form-group">
        <label for="inputSenha">Senha</label>
        <p class="form-control-plaintext" id="inputSenha">{{usuario.senha}}</p>
    </div>

    <div class="form-group">
        <label for="inputTipo">Tipo</label>
        <p class="form-control-plaintext" id="inputTipo">{{usuario.tipo}}</p>
    </div>

    <a href="/principal" class="btn btn-secondary">Voltar</a>
</form>
